* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.clear {
  clear: both;
}
button {
  border: none;
  background-color: transparent;
}

.title {
  max-width: 750px;
  margin: 0 auto;
}

.title h5 {
  font-size: 16px;
  color: #dc4f72;
  margin: 0 0 5px;
  font-weight: 700;
}
.title h3 {
  font-size: 46px;
  font-weight: 700;
}

.title p {
  margin: 0 auto;
}

.theme-button {
  transition: 0.3s ease-out;
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
  line-height: 52px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
  border-color: #dc4f72;
  color: #dc4f72;
  text-transform: uppercase;
}
.theme-button:hover {
  background-color: #dc4f72;
  color: #fff;
  border-color: transparent;
}

header {
  width: 100%;
  background: white;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
  padding: 10px 0;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* [type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
.nav-item {
  margin: 0 5px;
  letter-spacing: 1px;
} */
.navbar-brand {
  font-size: 2rem;
  color: #dc4f72;
  font-weight: 800;
}
.navbar-brand:hover {
  color: #dc4f72;
}
.active .nav-link {
  color: #dc4f72;
}
.navbar-light .navbar-brand {
  color: #dc4f72;
}
.navbar-light .navbar-brand:hover {
  color: #dc4f72;
}
.form-inline .btn {
  color: #dc4f72;
  font-weight: 700;
  border: 1px solid #dc4f72;
  margin-left: 20px;
  padding: 15px 30px;
}
.form-inline .btn:hover {
  background-color: #dc4f72;
  color: white;
  font-weight: 700;
}
.dropdown-menu .dropdown-item {
  margin: 10px 0;
}
.collapse .navbar-nav li {
  margin-right: 10px;
}
#item-header {
  display: flex;
  align-items: center;
}
.nav-link {
  position: relative;
}
.nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  background-color: #dc4f72;
  height: 2px;
  bottom: 0;
  transition: 0.3s;
}
.nav-item .nav-link:hover::before {
  width: 30px;
}
.dropdown-menu .dropdown-item::after {
  content: "";
  display: block;
  width: 0px;
  background-color: #dc4f72;
  height: 2px;
  transition: 0.5s;
}
.dropdown-menu .dropdown-item:hover::after {
  width: 40px;
}
.nav-item .nav-link {
  border-bottom: none;
}

/* carousel */
.carousel {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url("https://demo.w3layouts.com/demos_new/template_demo/03-03-2021/masterwork-liberty-demo_Free/423112365/web/assets/images/banner.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* display: grid; */
  align-items: center;
  /* height: 70vh; */
  padding-top: 5rem;
}
.row-carousel h1 {
  font-size: 3rem;
  margin-top: 90px;
  font-weight: 700;
}
.row-carousel p {
  margin: 30px 0;
  font-size: 1.2rem;
}
.button-carousel {
  border: 1px solid #dc4f72;
  color: #dc4f72;
  transition: 0.5s;
  font-weight: 700;
  border-radius: 5px;
  font-size: 14px;
  /* margin-left: 40px; */
  /* width: 200px;
  height: 50px; */
  padding: 15px 30px;
  background-color: transparent;
}
.button-carousel:hover {
  color: white;
  background: #dc4f72;
}
.row-carousel img {
  transform: rotate(180deg);
}

.choose {
  margin-top: 80px;
}
.choose-text {
  text-align: center;
}
.choose-text h1 {
  font-weight: 700;
}
.choose-text h3 {
  font-size: 1.3rem;
  color: #dc4f72;
  font-weight: 700;
}
.business {
  margin-top: 60px;
}
.card-img {
  text-align: center;
  background: #f7f9fc;
  padding: 40px 0;
  border: 1px solid #f7f9fc;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  transition: all ease-in 0.3s;
  width: 20rem;
}
.card-img-top {
  width: 80px;
}
.card-img:hover {
  transform: translateY(-10px);
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
.counting {
  margin-top: 80px;
  background: #f7f9fc;
  padding: 80px 0;
  width: 100%;
}
.card-couting h4 {
  font-size: 1rem;
  color: #dc4f72;
}
.card-couting h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.card-couting p {
  margin-bottom: 30px;
}
.card-couting .btn-primary {
  background: #dc4f72;
  border: none;
  width: 150px;
  padding: 15px 0;
  font-weight: 600;
}

.card-couting .btn-primary:hover {
  background: #d62f58;
}
.card-couting {
  border: none;
  background: #f7f9fc;
}
.card-couting h4,
.card-couting h1 {
  font-weight: 700;
}
.counting-img .img-counting {
  width: 100%;
  border-radius: 16px;
}
.counting-img {
  background: #f7f9fc;
  border: none;
  transition: 0.3s;
}
.counting-img:hover {
  transform: translateY(-10px);
}
.container-col {
  margin-bottom: 100px;
}
.number span {
  font-size: 3.5rem;
  font-weight: 700;
  color: #dc4f72;
}
.number p {
  color: #5a5a5a;
}
.number {
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  border: 1px solid #eee;
  transition: 0.3s;
}
.number:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
/* start banner */
.banner {
  display: block;
}
.banner-bg {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(./capstone-img/capstone-img/capstone-img07.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}
.banner .container {
  width: 100%;
}
.banner__container {
  max-width: 550px;
}
.banner__header h2 {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.banner__content p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}
.btn-light {
  /* transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase; */
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
/* end banner */

/* start solution */
.solution {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}
.sub-title {
  font-size: 16px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.solution__header h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.solution__header p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.solution__content .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.grids5-info {
  border-radius: 6px;
  transition: 0.3s ease-in;
  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
}
.grids5-info:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}

.solution__items a {
  overflow: hidden;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-decoration: none;
  color: #2c3038;
  font-size: 22px;
  line-height: 27px;
  display: block;
  font-weight: 600;
}
.grids5-info:hover .solution__items a {
  color: #dc4f72;
}
.solution__items .items-img .img-fluid {
  width: 100%;
  display: block;
  transition: 0.3 ease-in-out;
  filter: grayscale(1);
}

.grids5-info:hover .img-fluid {
  filter: grayscale(0);
}

.solution__items .p {
  line-height: 24.5px;
}
.solution__items p.date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  position: absolute;
  top: 0;
  background: #dc4f72;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
  padding: 10px 10px;
}

.solution-info {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.solution-info label {
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
  font-size: 13px;
  padding: 5px 10px;
}
.solution-info label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
.solution-info p {
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.solution-info a.btn {
  padding: 0;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  color: #dc4f72;
  cursor: pointer;
}
.solution-info a.btn-news span {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0;
  right: -13px;
  top: 7.5px;
  transition: 0.3 ease-in;
}
.grids5-info:hover .solution-info a.btn-news span {
  padding-left: 2px;
}
.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.tag-label.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
/* end solution */
/* start faq */
.faq {
  background-color: #f7f9fc;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.faq__title h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.faq__title p {
  max-width: 750px;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
.faq__content .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.faq__content .row .faq-image {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.row .faq-image {
  position: sticky;
  top: 80px;
}
img .img-curve {
  border-radius: 6px;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.faq-image:hover {
  transform: translateY(-0.5rem);
  transition: 0.3 ease-in-out;
}

.faq__text .faq-page ul {
  list-style: none;
  padding: 0;
  max-width: 750px;
  margin: 0 auto;
}
.faq__text .faq-page ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: 6px;
  background: #fff;
}
.faq__text .faq-page ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
}
.faq-page ul .accicon {
  float: right;

  font-size: 20px;
  width: 1.2em;
}
.faq-page ul li:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}
/* .faq__text .faq-page ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
} */
/* .faq__text .faq-page ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
  content: "";
  position: absolute;
  background-color: #2c3038;
  width: 3px;
  height: 9px;
}
.faq__text .faq-page ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
  content: "";
  position: absolute;
  background-color: #2c3038;
  width: 3px;
  height: 9px;
} */
.faq__text .faq-page ul li h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  cursor: pointer;
  color: #2c3038;
}
.faq__text .faq-page ul li p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 24.5px;
  position: relative;
  overflow: hidden;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}
/* end faq */

/*********** Project *********/
.project__content .nav-pills {
  width: 100%;
}
.project__content .nav-item a {
  color: #4e5b61;
}
.project__content .nav-item {
  width: calc(100% / 3);
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  color: #4e5b61;
  background-color: #fff;
  cursor: pointer;
}

.project__content .nav .nav-item-1 {
  margin-right: 0;
}
.project__content .nav .nav-item-1 .nav-link {
  border: none;
  border-bottom: 3px solid #4e5b61;
}
.project__content .nav .nav-item-1 .nav-link::before {
  display: none;
}
.project__content .nav .nav-item-1 .nav-link:hover {
  border-bottom: 3px solid #4e5b61;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #fff;
  color: #dc4f72;
  border: none;
  border-bottom: 3px solid #dc4f72 !important;
}
.project__content .nav .nav-tabs .nav-link.active {
  background-color: #fff;
  color: #dc4f72;
  border: none;
  border-bottom: 3px solid #dc4f72 !important;
}
/* .nav-item .nav-link:hover::before {
  width: 30px;
} */
/* Tab Content */
.tab-content {
  padding: 15px;
  margin: 20px 0;
}
.tab-content img {
  border-radius: 5px;
  transition: 0.5s;
}
.tab-content img:hover {
  transform: translateY(-10px);
}

.tab-content .theme-button:hover {
  background-color: #dc4f72;
  color: #fff;
  border-color: transparent;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 50%);
}

.tab-content h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}
/*********** End project *********/

/*********** Start testimonials *********/
.testimonial {
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url(./capstone-img/capstone-img/capstone-img15.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.owl-item {
  padding: 0 5px;
}
.testimonial__item {
  max-width: 98%;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  background-color: #fff;
  border-radius: 6px;
  margin: 0 auto;
}
.testimonial__item .img-circle {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #dc4f72;
}
.testimonial__item .img-fluid {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.testimonial__item .testimonial__text {
  position: relative;
}
.testimonial__item .testimonial__text span {
  font-size: 30px;
  color: #2c3038;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: -40px;
}
.testimonial__item .testimonial__text p {
  font-size: 18px;
  color: #2c3038;
  margin: 0;
}
.testimonial__text h4 {
  color: #dc4f72;
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
}
.testimonial__text #company-name {
  font-size: 13px;
  color: #2c3038;
  margin: 0;
}
.owl-theme .owl-dots .owl-dot {
  margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  border-radius: 0;
  background-color: #fff;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: #dc4f72;
}
/*********** End testimonials *********/

/*********** Start booking *********/
.btn-primary {
  background-color: #dc4f72;
  color: #fff;
}
/*********** End booking *********/

/*********** Start footer *********/
footer {
  background: #f7f9fc;
}

footer h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

footer h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

footer h3 a:hover,
footer .footer-gd-16 li a:hover,
footer .footer-gd-16 a:hover {
  opacity: 0.8;
  color: #dc4f72;
  text-decoration: none;
  transition: 0.2s;
}

footer .footer-gd-16 li {
  display: block;
  list-style: none;
  margin: 10px 0;
}

footer .footer-gd-16 li a {
  color: #4e5b61;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
}
footer .end-column {
  background-color: #fff;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
footer form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

footer .subscribe input[type="email"] {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #2c3038;
  font-weight: 700;
  border-radius: 6px;
}

footer .subscribe button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 6px;
}

footer .subscribe button:hover {
  transition: all 0.5s ease;
}

footer .subscribe button img {
  vertical-align: middle;
}
footer .social li {
  display: inline-block;
  margin-right: 5px;
}

footer .social li a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

footer .social li a:hover {
  color: #dc4f72;
  transition: 0.3s ease;
}

footer .social li a span {
  font-size: 15px;
  line-height: 36px;
}
footer .below-section {
  border-top: 1px solid #f7f9fc;
  justify-content: space-between;
}

footer .below-section p a {
  color: #2c3038;
}
footer .below-section p a:hover {
  color: #dc4f72;
  text-decoration: none;
}
/*********** End footer *********/

@media screen and (max-width: 992px) {
  .footer__bottom {
    display: block !important;
  }

  .footer__bottom .right__bottom {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .testimonial .testimonial_item {
    padding: 2rem;
  }
}

@media screen and (max-width: 667px) {
  .testimonial .testimonial__item {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .testimonial .testimonial__item .img-circle {
    margin: 0 auto;
  }

  .testimonial .testimonial__item .testimonial__text {
    text-align: center;
  }

  .testimonial .testimonial__item .testimonial__text span {
    top: 0;
    left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .card-img {
    width: 100%;
  }
  .popup {
    display: none;
  }
  a.nav-link:before,
  a.dropdown-item:before {
    bottom: 5px;
  }
  .navbar .navbar-brand img {
    max-width: 140px;
  }
  .navbar-toggler {
    border: 0 none;
    font-size: 24px;
  }
  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }
  .navbar-nav:last-child {
    border: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 0;
  }
  .navbar-expand-lg .navbar-nav.nav_btn > li {
    padding-bottom: 10px;
  }
  .navbar-nav .dropdown-menu {
    text-align: center;
  }
  .navbar-nav .dropdown-menu .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 8px 0;
    text-align: center;
  }
  header {
    height: auto;
    padding: 15px 0;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
  }
  .phone {
    text-align: center;
  }
  .phone a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
  }
  .phone a span {
    color: #fff;
  }
  header.nav-fixed {
    height: auto;
    padding: 10px 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: #dc4f72;
    border-radius: 4px;
    text-align: center;
  }
  .navbar-toggler-icon {
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
    background-color: #dc4f72;
    border-radius: 5px;
  }
  .navbar-toggler {
    padding: 0rem 0rem !important;
  }
}
